DATABASE_URL="postgresql://postgres:postgres@localhost:5432/navix?schema=public"
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
AI_PROVIDER=""
AI_API_KEY=""
